<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>781622295146-ouvhcch8918g0f59ms7ak7dl8cbg5gs8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781622295146-ouvhcch8918g0f59ms7ak7dl8cbg5gs8</string>
	<key>API_KEY</key>
	<string>AIzaSyBNzJlJSjd_Qh3fcb4JI8LdjDWPpHCvVJU</string>
	<key>GCM_SENDER_ID</key>
	<string>781622295146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>boardroom.FirebaseExamples</string>
	<key>PROJECT_ID</key>
	<string>inclassexercisesstarter</string>
	<key>STORAGE_BUCKET</key>
	<string>inclassexercisesstarter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781622295146:ios:deb8a11dd5b0147a</string>
	<key>DATABASE_URL</key>
	<string>https://inclassexercisesstarter.firebaseio.com</string>
</dict>
</plist>